<%- include ('../partials/main') %>

<head>
  <%- HeaderCss %>
  <%- include ('../partials/head-css') %>
</head>

<body data-layout="horizontal">
  <div id="layout-wrapper">
    <%- include ('../partials/horizontal') %>
    <div class="main-content">
      <div class="page-content">
        <div class="container-fluid">
          <%- body%>
        </div> <!-- container-fluid -->
      </div>
      <%- include ('../partials/footer') %>
    </div>
    <!-- end main content-->
  </div>

  <%- include ('../partials/right-sidebar') %>
  <%- include ('../partials/vendor-scripts') %>
  <%- FooterJs %>
  <!-- App js -->
  <script src="/assets/js/app.js"></script>
</body>

</html>