<%- include ('../partials/main') %>

    <head>
        <%- HeaderCss %>
            <%- include ('../partials/head-css.ejs') %>
    </head>

  
        <%- body%>
            <%- include ('../partials/vendor-scripts') %>
                <%- FooterJs %>
              
    </body>

    </html>