<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

  <div data-simplebar class="h-100">

    <!--- Sidemenu -->
    <div id="sidebar-menu">
      <!-- Left Menu Start -->
      <ul class="metismenu list-unstyled" id="side-menu">
        <li class="menu-title" data-key="t-menu"><%=translation.t_menu %></li>

        <li>
          <a href="/index">
            <i data-feather="home"></i>
            <span data-key="t-dashboard"><%=translation.t_dashboard %></span>
          </a>
        </li>

        <li>
          <a href="javascript: void(0);" class="has-arrow">
            <i data-feather="grid"></i>
            <span data-key="t-apps"><%=translation.t_apps %></span>
          </a>
          <ul class="sub-menu" aria-expanded="false">
            <li>
              <a href="/apps-calendar">
                <span data-key="t-calendar"><%=translation.t_calendar %></span>
              </a>
            </li>

            <li>
              <a href="/apps-chat">
                <span data-key="t-chat"><%=translation.t_chat %></span>
              </a>
            </li>

            <li>
              <a href="javascript: void(0);" class="has-arrow">
                <span data-key="t-email"><%=translation.t_email %></span>
              </a>
              <ul class="sub-menu" aria-expanded="false">
                <li><a href="/apps-email-inbox" data-key="t-inbox"><%=translation.t_inbox %></a></li>
                <li><a href="/apps-email-read" data-key="t-read-email"><%=translation.t_read_email %></a></li>
              </ul>
            </li>
            <li>
              <a href="javascript: void(0);" class="has-arrow">
                <span data-key="t-invoices"><%=translation.t_invoices %></span>
              </a>
              <ul class="sub-menu" aria-expanded="false">
                <li><a href="/apps-invoices-list" data-key="t-invoice-list"><%=translation.t_invoice_list %></a></li>
                <li><a href="/apps-invoices-detail" data-key="t-invoice-detail"><%=translation.t_invoice_detail %></a></li>
              </ul>
            </li>
            <li>
              <a href="javascript: void(0);" class="has-arrow">
                <span data-key="t-contacts"><%=translation.t_contacts %></span>
              </a>
              <ul class="sub-menu" aria-expanded="false">
                <li><a href="/apps-contacts-grid" data-key="t-user-grid"><%=translation.t_user_grid %></a></li>
                <li><a href="/apps-contacts-list" data-key="t-user-list"><%=translation.t_user_list %></a></li>
                <li><a href="/apps-contacts-profile" data-key="t-profile"><%=translation.t_profile %></a></li>
              </ul>
            </li>
            <li>
              <a href="javascript: void(0);" class="">
                <span data-key="t-blog"><%=translation.t_blog %></span>
                <span class="badge rounded-pill badge-soft-danger float-end" key="t-new"><%=translation.t_new %></span>
              </a>
              <ul class="sub-menu" aria-expanded="false">
                <li><a href="/apps-blog-grid" data-key="t-blog-grid"><%=translation.t_blog_grid %></a></li>
                <li><a href="/apps-blog-list" data-key="t-blog-list"><%=translation.t_blog_list %></a></li>
                <li><a href="/apps-blog-detail" data-key="t-blog-details"><%=translation.t_blog_details %></a></li>
              </ul>
            </li>
          </ul>
        </li>

        <li>
          <a href="javascript: void(0);" class="has-arrow">
            <i data-feather="users"></i>
            <span data-key="t-authentication"><%=translation.t_authentication %></span>
          </a>
          <ul class="sub-menu" aria-expanded="false">
            <li><a href="/auth-login" data-key="t-login"><%=translation.t_login %></a></li>
            <li><a href="/auth-register" data-key="t-register"><%=translation.t_register %></a></li>
            <li><a href="/auth-recoverpw" data-key="t-recover-password"><%=translation.t_recover_password %></a></li>
            <li><a href="/auth-lock-screen" data-key="t-lock-screen"><%=translation.t_lock_screen %></a></li>
            <li><a href="/auth-logout" data-key="t-logout"><%=translation.t_logout %></a></li>
            <li><a href="/auth-confirm-mail" data-key="t-confirm-mail"><%=translation.t_confirm_mail %></a></li>
            <li><a href="/auth-email-verification" data-key="t-email-verification"><%=translation.t_email_verification %></a></li>
            <li><a href="/auth-two-step-verification" data-key="t-two-step-verification"><%=translation.t_two_step_verification %></a></li>
          </ul>
        </li>

        <li>
          <a href="javascript: void(0);" class="has-arrow">
            <i data-feather="file-text"></i>
            <span data-key="t-pages"><%=translation.t_pages %></span>
          </a>
          <ul class="sub-menu" aria-expanded="false">
            <li><a href="/pages-starter" data-key="t-starter-page"><%=translation.t_starter_page %></a></li>
            <li><a href="/pages-maintenance" data-key="t-maintenance"><%=translation.t_maintenance %></a></li>
            <li><a href="/pages-comingsoon" data-key="t-coming-soon"><%=translation.t_coming_soon %></a></li>
            <li><a href="/pages-timeline" data-key="t-timeline"><%=translation.t_timeline %></a></li>
            <li><a href="/pages-faqs" data-key="t-faqs"><%=translation.t_faqs %></a></li>
            <li><a href="/pages-pricing" data-key="t-pricing"><%=translation.t_pricing %></a></li>
            <li><a href="/pages-404" data-key="t-error-404"><%=translation.t_error_404 %></a></li>
            <li><a href="/pages-500" data-key="t-error-500"><%=translation.t_error_500 %></a></li>
          </ul>
        </li>

        <li>
          <a href="/layouts-horizontal">
            <i data-feather="layout"></i>
            <span data-key="t-horizontal"><%=translation.t_horizontal %></span>
          </a>
        </li>

        <li class="menu-title mt-2" data-key="t-components"><%=translation.t_components %></li>

        <li>
          <a href="javascript: void(0);" class="has-arrow">
            <i data-feather="briefcase"></i>
            <span data-key="t-components"><%=translation.t_components %></span>
          </a>
          <ul class="sub-menu" aria-expanded="false">
            <li><a href="/ui-alerts" data-key="t-alerts"><%=translation.t_alerts %></a></li>
            <li><a href="/ui-buttons" data-key="t-buttons"><%=translation.t_buttons %></a></li>
            <li><a href="/ui-cards" data-key="t-cards"><%=translation.t_cards %></a></li>
            <li><a href="/ui-carousel" data-key="t-carousel"><%=translation.t_carousel %></a></li>
            <li><a href="/ui-dropdowns" data-key="t-dropdowns"><%=translation.t_dropdowns %></a></li>
            <li><a href="/ui-grid" data-key="t-grid"><%=translation.t_grid %></a></li>
            <li><a href="/ui-images" data-key="t-images"><%=translation.t_images %></a></li>
            <li><a href="/ui-modals" data-key="t-modals"><%=translation.t_modals %></a></li>
            <li><a href="/ui-offcanvas" data-key="t-offcanvas"><%=translation.t_offcanvas %></a></li>
            <li><a href="/ui-progressbars" data-key="t-progress-bars"><%=translation.t_progress_bars %></a></li>
            <li><a href="/ui-placeholders" data-key="t-placeholders"><%=translation.t_placeholders %></a></li>
            <li><a href="/ui-tabs-accordions" data-key="t-tabs-accordions"><%=translation.t_tabs_accordions %></a></li>
            <li><a href="/ui-typography" data-key="t-typography"><%=translation.t_typography %></a></li>
            <li><a href="/ui-toasts" data-key="t-typography"><%=translation.t_toasts %></a></li>
            <li><a href="/ui-video" data-key="t-video"><%=translation.t_video %></a></li>
            <li><a href="/ui-general" data-key="t-general"><%=translation.t_general %></a></li>
            <li><a href="/ui-colors" data-key="t-colors"><%=translation.t_colors %></a></li>
            <li><a href="/ui-utilities" data-key="t-colors"><%=translation.t_utilities %></a></li>
          </ul>
        </li>

        <li>
          <a href="javascript: void(0);" class="has-arrow">
            <i data-feather="gift"></i>
            <span data-key="t-ui-elements"><%=translation.t_ui_elements %></span>
          </a>
          <ul class="sub-menu" aria-expanded="false">
            <li><a href="/extended-lightbox" data-key="t-lightbox"><%=translation.t_lightbox %></a></li>
            <li><a href="/extended-rangeslider" data-key="t-range-slider"><%=translation.t_range_slider %></a></li>
            <li><a href="/extended-sweet-alert" data-key="t-sweet-alert"><%=translation.t_sweet_alert %></a></li>
            <li><a href="/extended-session-timeout" data-key="t-session-timeout"><%=translation.t_session_timeout %></a></li>
            <li><a href="/extended-rating" data-key="t-rating"><%=translation.t_rating %></a></li>
            <li><a href="/extended-notifications" data-key="t-notifications"><%=translation.t_notifications %></a></li>
          </ul>
        </li>

        <li>
          <a href="javascript: void(0);">
            <i data-feather="box"></i>
            <span class="badge rounded-pill badge-soft-danger  text-danger float-end">7</span>
            <span data-key="t-forms"><%=translation.t_forms %></span>
          </a>
          <ul class="sub-menu" aria-expanded="false">
            <li><a href="/form-elements" data-key="t-form-elements"><%=translation.t_form_elements %></a></li>
            <li><a href="/form-validation" data-key="t-form-validation"><%=translation.t_form_validation %></a></li>
            <li><a href="/form-advanced" data-key="t-form-advanced"><%=translation.t_form_advanced %></a></li>
            <li><a href="/form-editors" data-key="t-form-editors"><%=translation.t_form_editors %></a></li>
            <li><a href="/form-uploads" data-key="t-form-upload"><%=translation.t_form_upload %></a></li>
            <li><a href="/form-wizard" data-key="t-form-wizard"><%=translation.t_form_wizard %></a></li>
            <li><a href="/form-mask" data-key="t-form-mask"><%=translation.t_form_mask %></a></li>
          </ul>
        </li>

        <li>
          <a href="javascript: void(0);" class="has-arrow">
            <i data-feather="sliders"></i>
            <span data-key="t-tables"><%=translation.t_tables %></span>
          </a>
          <ul class="sub-menu" aria-expanded="false">
            <li><a href="/tables-basic" data-key="t-basic-tables"><%=translation.t_basic_tables %></a></li>
            <li><a href="/tables-datatable" data-key="t-data-tables"><%=translation.t_data_tables %></a></li>
            <li><a href="/tables-responsive" data-key="t-responsive-table"><%=translation.t_responsive_table %></a></li>
            <li><a href="/tables-editable" data-key="t-editable-table"><%=translation.t_editable_table %></a></li>
          </ul>
        </li>

        <li>
          <a href="javascript: void(0);" class="has-arrow">
            <i data-feather="pie-chart"></i>
            <span data-key="t-charts"><%=translation.t_charts %></span>
          </a>
          <ul class="sub-menu" aria-expanded="false">
            <li><a href="/charts-apex" data-key="t-apex-charts"><%=translation.t_apex_charts %></a></li>
            <li><a href="/charts-echart" data-key="t-e-charts"><%=translation.t_e_charts %></a></li>
            <li><a href="/charts-chartjs" data-key="t-chartjs-charts"><%=translation.t_chartjs_charts %></a></li>
            <li><a href="/charts-knob" data-key="t-knob-charts"><%=translation.t_knob_charts %></a></li>
            <li><a href="/charts-sparkline" data-key="t-sparkline-charts"><%=translation.t_sparkline_charts %></a></li>
          </ul>
        </li>

        <li>
          <a href="javascript: void(0);" class="has-arrow">
            <i data-feather="cpu"></i>
            <span data-key="t-icons"><%=translation.t_icons %></span>
          </a>
          <ul class="sub-menu" aria-expanded="false">
            <li><a href="/icons-boxicons" data-key="t-boxicons"><%=translation.t_boxicons %></a></li>
            <li><a href="/icons-materialdesign" data-key="t-material-design"><%=translation.t_material_design %></a></li>
            <li><a href="/icons-dripicons" data-key="t-dripicons"><%=translation.t_dripicons %></a></li>
            <li><a href="/icons-fontawesome" data-key="t-font-awesome"><%=translation.t_font_awesome %></a></li>
          </ul>
        </li>

        <li>
          <a href="javascript: void(0);" class="has-arrow">
            <i data-feather="map"></i>
            <span data-key="t-maps"><%=translation.t_maps %></span>
          </a>
          <ul class="sub-menu" aria-expanded="false">
            <li><a href="/maps-google" data-key="t-g-maps"><%=translation.t_g_maps %></a></li>
            <li><a href="/maps-vector" data-key="t-v-maps"><%=translation.t_v_maps %></a></li>
            <li><a href="/maps-leaflet" data-key="t-l-maps"><%=translation.t_l_maps %></a></li>
          </ul>
        </li>

        <li>
          <a href="javascript: void(0);" class="has-arrow">
            <i data-feather="share-2"></i>
            <span data-key="t-multi-level"><%=translation.t_multi_level %></span>
          </a>
          <ul class="sub-menu" aria-expanded="true">
            <li><a href="javascript: void(0);" data-key="t-level-1-1"><%=translation.t_level_1_1 %></a></li>
            <li>
              <a href="javascript: void(0);" class="has-arrow" data-key="t-level-1-2"><%=translation.t_level_1_2 %></a>
              <ul class="sub-menu" aria-expanded="true">
                <li><a href="javascript: void(0);" data-key="t-level-2-1"><%=translation.t_level_2_1 %></a></li>
                <li><a href="javascript: void(0);" data-key="t-level-2-2"><%=translation.t_level_2_2 %></a></li>
              </ul>
            </li>
          </ul>
        </li>

      </ul>

      <div class="card sidebar-alert border-0 text-center mx-4 mb-0 mt-5">
        <div class="card-body">
          <img src="assets/images/giftbox.png" alt="">
          <div class="mt-4">
            <h5 class="alertcard-title font-size-16">Unlimited Access</h5>
            <p class="font-size-13">Upgrade your plan from a Free trial, to select ‘Business Plan’.</p>
            <a href="#!" class="btn btn-primary mt-2">Upgrade Now</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Sidebar -->
  </div>
</div>
<!-- Left Sidebar End -->